@model IEnumerable<ParticipationVM>

<div class="container">
    <h2>Nombre de participations par course</h2>
    <div class="row justify-content-center">
        <div class="col">
            <!-- Affichage des données de la vue -->
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <!-- Nom de la course -->
                            Course
                        </th>
                        <th>
                            <!-- Nombre de participations -->
                            Nombre de participations
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- █foreach (var item in Model...) -->
                    <!--{-->
                        @foreach (var item in Model.ToList())
                        {
                            <tr>
                                <td>
                                    <!-- Nom de la course -->
                                    @Html.DisplayFor(modelItem => item.NomCourse)
                                </td>
                                <td>
                                    <!-- Nombre de participations -->
                                    @Html.DisplayFor(modelItem => item.NbJoueurs)
                                    
                                </td>
                            </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>

</div>
